<div class="relative inline-block">
  <h2 class="relative z-10 mb-2 text-3xl font-extrabold text-mirage-500">
    <slot />
  </h2>
  <div
    class="absolute z-0 -left-2 -right-2 h-3 bg-sundance-200 opacity-50 bottom-2 skew-y-1 -skew-x-12"
    aria-hidden="true"
  >
  </div>
</div>
